# Visual Studio
.vs/
*.user
*.suo
*.wsuo
*.opendb
Browse.VC.db*
*.VC.db
*.vsidx
*.sqlite

# C++ / MSVC build outputs
*.exe
*.obj
*.ilk
*.idb
*.pdb
*.tlog
*.recipe
*.lastbuildstate
**/x64/
**/Win32/

# Python
__pycache__/
*.pyc

# OS / temp
*.tmp
*.log
.vscode/
